.regButtonsWrap {
    border-top: rgb(209, 209, 209) solid 1px;
    padding: 40px 0 30px 0;
    height: 150px;
}

.regButton {
    margin: 0 auto;
    width: 250px;
}
.regButton a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(45, 121, 45);
    border-radius: 30px;
    padding: 10px 40px;
}
.regButton a:hover {
    background-color: rgb(59, 184, 59);
}

.logButton a {
    color: rgb(156, 156, 156);
}
.logButton a:hover {
    color: rgb(187, 187, 187);
}