.footWrap {
    display: flex;
    justify-content: center;
    width: cover;
    height: 330px;
    background-color: black;
}

.logo {
    display: flex;
    padding: 50px;
}
.logo a {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.block {
    padding: 40px;
}
.block a {
    display: block;
    padding: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.block a:hover {
    color: rgb(1, 175, 1);
}

.mes {
    padding: 30px;
}
.mes img {
    display: block;
    width: 40px;
    padding: 15px;
}
.mes img:hover {
    cursor: pointer;
}